build/
Makefile
include/core/config.h

run/logs/*
!run/logs/.gitkeep
run/bin/*
!run/bin/.gitkeep
run/modules/*
!run/modules/.gitkeep
run/data/*
!run/data/.gitkeep
run/pid/*
!run/pid/.gitkeep

*.o
*.log
